# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Others
configure
*.DS_Store
*.in*
*.m4
*.swp
config.*
Makefile
ar-lib
autom4te.cache/
compile
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/Makefile
src/test-suite.log
src/test/.deps/
src/test/.dirstamp
src/test/Makefile
src/test/atconfig
src/test/test_reply.log
src/test/test_reply.trs
src/test/test_twitc.log
src/test/test_twitc.trs
src/twitc
stamp-h1
test-drive
src/test/test_reply
src/test/test_twitc
